{% extends "index.html" %} {% block title %}Login{% endblock %}
{% block content %}

<section class="flex flex-col">
    <div class="container max-w-sm mb-10 mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">Login</h1>
            <form method="POST">
                <label for="email" class="text-semibold text-slate-500 text-lg">Email</label>
                <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                id="email"
                name="email"
                placeholder="Enter email" />
                
                <label for="password" class="text-semibold text-slate-500 text-lg">Password</label>
                <input 
                type="password"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                id="password"
                name="password"
                placeholder="Enter password" />
    
                <button type="submit" class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-600 my-1">Login</button>
            </form>
        </div>
    </div>
</section>




{% endblock %}